<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Interest Form</title>
    <link rel="stylesheet" href="/static/interest.css">
</head>
<body>
    <h1>Express Interest Form</h1>
    <form id="expressInterestForm">
        <label for="requestedPersonName">Requested Person Name:</label>
        <input type="text" id="requestedPersonName" name="requestedPersonName" required><br><br>
        
        <label for="requesterName">Your Name:</label>
        <input type="text" id="requesterName" name="requesterName" required><br><br>

        
        
        <button type="submit">Express Interest</button>
    </form>
    <a href="javascript:history.back()">Back</a>
    <script src="/static/interest.js"></script>
</body>
</html>

